html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Baloo Thambi', cursive;
}

.bloc-logo {
    display: inline-block;
    padding: 0 20px 0 0;
}

.bloc-chat-panel{
    padding: 0 0 0 30px;
}

.chatRoomList li {
    list-style-type: none;
    font-size: 20px;
    color: purple;
}

.chat-room-body{
    
}

.list-elements:hover{
    cursor: pointer;
}

.message-field{
    background-color: lightgrey;
    margin: -8px 0 -8px 0;
    height: 38px;
    line-height: 0px;
}

.message-field h5{
    padding-top: 2px;
}

.left-panel{
    height: 973px;
    position: relative;
    top: -20px;
    left: -30px;
    display: inline-block;
    float: left;
    padding: 0 20px 0 20px;
    margin: 0 0 0 0;
    border-right: 0 20px 0 0 blue;
    background-color: darkgray;
}

.create-room-button {
    color: dimgray;
    font-family: 'Baloo Thambi', cursive;
    border-radius: 8px;
}

.pop-up-total {
    color: black;
    padding: 10px 0 40px 50px;
}

.pop-up-bottom {
    padding: 10px 0 0 0;
    color: dimgray;
}

.pop-up-total {
    border-bottom: 0 0 10px 0;
    border-bottom-color: darkcyan;
}

.button-option-submit {
    border-radius: 8px;
    display: inline-block;
    font-family: 'Baloo Thambi', cursive;
    color: dimgray;
    margin: 0 8px 0 0;
    padding: 0 18px 0 18px;
}

.button-option-cancel {
    background-color: lightcoral;
    border-radius: 8px;
    display: inline-block;
    font-family: 'Baloo Thambi', cursive;
    color: dimgray;
    padding: 0 18px 0 18px;
}