<section class="bloc-chat-panel">
    <aside class="left-panel">
        <div class=bloc-chat-stuff>
            <h1 class=bloc-logo>Mock Chat</h1>
            <button class="create-room-button" type="button" ng-click="home.openModal()">Create Room</button>
        </div>
        <div class="chatRoomList">
            <ul class="list-elements">
                <li ng-repeat="room in home.roomList.all" ng-click="home.setCurrentRoom(room)">{{room.name}}</li>
            </ul>
        </div>
    </aside>
    <div class="chat-room-body">
        <h3 class="current-room">{{selectedRoom.name}}</h3>
        <div class="message-field" data-ng-repeat="message in home.messageList">
            <h5>{{message.username}}</h5>
            <p>{{message.content}}</p>
        </div>
        <div class='message-chunk' ng-show="home.newMessage">
                <p>{{home.currentUser}}</p>
                <h5>{{home.newMessage}}</h5>
            </div>
        <div class="message-bar">
            <input class="msg-txt-field" ng-model="home.newMessage" placeholder="Write messages here......">
            <button class="msg-txt-button" type="button" ng-click="home.sendMsg(home.newMessage)">SEND</button>
        </div>
    </div>
</section>
